body {
  background-color: rgb(183, 27, 129);
  margin: 0;
  font-family: "Caveat Brush", cursive;
}


div.gem-caption {
  width: 100%;
  position: fixed;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.5em;
  text-align: center;
  top: 30px;
  text-transform: uppercase;
}

div.gem-caption span {
  color: rgba(255, 255, 255, 0.6);
}


div.gem {
  box-sizing: border-box;
  position: fixed;
  margin-top: -50px;
  margin-left: -60px;
  left: 50%;
  top: 50%;
  animation: bounce 3s ease-in-out infinite;
  transition: .2s;
}

div.gem:before {
  box-sizing: border-box;
  width: 120px;
  border-bottom: solid 30px rgba(0, 0, 0, 0.35);
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

div.gem:after {
  box-sizing: border-box;
  width: 120px;
  border-top: solid 70px rgba(0, 0, 0, 0.2);
  border-left: solid 60px transparent;
  border-right: solid 60px transparent;
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

